{% extends "layout_api_resource.html" %}
{% block resourceurl %}/1.0/domains.slaves.add{% endblock %}
{% block overview %}Adds a new slave domain.{% endblock %}
{% block paramstable %}
                        <tr>
                                <td>domain</td>
                                <td><i>Required</i></td>
                                <td>Domain name</td>
                                <td>abcdef.com</td>
                        </tr>
                        <tr>
                                <td>masterip</td>
                                <td><i>Required</i></td>
                                <td>IP address of master server</td>
                                <td>192.0.2.1 or 2001:0db8:aaaa::1</td>
                        </tr>
{% endblock %}
{% block exampleqry %}account=joeblogs&key=xxx&domain=abcdef.com&masterip=192.0.2.1{% endblock %}
{% block examplejson %}
{
    "action": "domain added"
}
{% endblock %}
