{% extends "layout.html" %}{% block title %}Esgob Ltd - NOC Network Operations - AS30746 AS60564{% endblock %}{% block body %}

		<div class="page-header">
            <h2>Connection details</h2>
        </div>

		<p>&nbsp;</p>
		
        <div class="panel panel-default">
          <div class="panel-heading">Connection details</div>
          <div class="panel-body">
            Your IP</br>
            Your ASN</br>
            Your country</br>
            Our nearest node</br>
          </div>
        </div>

{% endblock %}
