{% extends "layout.html" %}{% block title %}Esgob Ltd - NOC Network Operations - AS30746 AS60564{% endblock %}{% block body %}

		<div class="page-header">
            <h1>Esgob network operations</h1>
        </div>
		<div>
			<p><img src="static/images/website.png"/> <a href="http://www.esgob.com/">Main website</a></p>
			<p><img src="static/images/email.png"/> <a href="mailto:noc@esgob.com">noc@esgob.com</a></p>
		</div>
		<p>&nbsp;</p>
		
        <div class="page-header">
            <h1>AS30746</h1>
        </div>
		<div>
				<p>Production ASN based in London Docklands, hosting our management infrastructure.</p>
				<p>Advertising:<br/><ul>
				<li><a href="https://apps.db.ripe.net/search/lookup.html?source=ripe&key=AS-ESGOB">AS-ESGOB</a></li>
				<li><a href="https://apps.db.ripe.net/search/lookup.html?source=ripe&key=195.177.252.0-195.177.253	.255">195.177.253.0/23</a></li>
				<li>2001:067c:1b40::/48</li></ul></p>
				<p><a href="http://www.peeringdb.com/view.php?asn=30746">PeeringDB</a> <a href="http://bgp.he.net/AS30746">bgp.he.net</a></p>
		</div>

		<div class="page-header">
            <h1>AS60564</h1>
        </div>
	    <div>
				<p>Our anycast ASN, delivering fast and resilient DNS services.</p>
				<p>Advertising:<br/><ul>
				<li><a href="https://apps.db.ripe.net/search/lookup.html?source=ripe&key=AS-ESGOB-ANYCAST">AS-ESGOB-ANYCAST</a></li>
				<li><a href="https://apps.db.ripe.net/search/lookup.html?source=ripe&key=193.47.147.0-193.47.147.255">193.47.147.0/24</a></li>
				<li>2001:067c:1b43::/48</li></ul></p>
				<p> <a href="http://bgp.he.net/AS60564">bgp.he.net</a></p>
		</div>

        <h3>Anycast nodes</h3>
<script type="text/javascript">
{% include 'nodes_map.js' %}
</script>
<p>{{nodes|length}} nodes deployed:</p>
<div id="nodes_map" class="map"></div>
<p>&nbsp;</p>
{% include 'nodes_table.html' %}
{% endblock %}
