{% extends "layout.html" %}{% block title %}Esgob Ltd - NOC Network Operations - AS30746 AS60564{% endblock %}{% block body %}

		<div class="page-header">
            <h2>Esgob network operations</h2>
        </div>
		<div>
			<p><img src="static/images/website.png"/> <a href="http://www.esgob.com/">Main website</a></p>
			<p><img src="static/images/email.png"/> <a href="mailto:noc@esgob.com">noc@esgob.com</a></p>
		</div>

	<div class="alert alert-success"><b>Free Secondary DNS</b> - <a href="/secondary_dns">Click here to participate in our beta.</a></div>

        <h3>Anycast nodes</h3>
<script type="text/javascript">
{% include 'nodes_map.js' %}
</script>
<p>{{nodes|length}} nodes deployed:</p>
<div id="nodes_map" class="map"></div>
<p>&nbsp;</p>
{% include 'nodes_table.html' %}
	<script>
(function($) {
var url = 'https://local.esgob.com/jsonCallback.json';

$.ajax({
   type: 'GET',
    url: url,
    async: false,
    jsonpCallback: 'jsonCallback',
    contentType: "application/json",
    dataType: 'jsonp',
    success: function(json) {
	console.dir(json.node.city);
	$('#node-highlight-' + json.node.ref).html(" <span class=\"label label-danger\">Serving you!</span>");
    },
    error: function(e) {
       console.log(e.message);
    }
});

})(jQuery);
	</script>

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">AS30746</h3>
	  </div>
        <div class="panel-body">
            <h5>Our management infrastructure, based in London Docklands</h5>
            <h6>Advertising:<br/>&nbsp;</br>
                <ul>
                    <li><a href="https://apps.db.ripe.net/search/lookup.html?source=ripe&key=AS-ESGOB">AS-ESGOB</a></li>
                    <li><a href="https://apps.db.ripe.net/search/lookup.html?source=ripe&key=195.177.252.0-195.177.253.255">195.177.253.0/23</a></li>
                    <li>2001:067c:1b40::/48</li>
                    <li>2001:067c:1b42::/48</li>
                </ul>
            </h6>
            <p><a href="http://www.peeringdb.com/view.php?asn=30746">PeeringDB</a> <a href="http://bgp.he.net/AS30746"><img border=0 src="static/images/he.png"></a> <a href="http://bgp.he.net/AS30746">bgp.he.net</a></p>
        </div>
	</div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">AS60564</h3>
      </div>
        <div class="panel-body">
            <h5>Delivering fast, resilient and distributed services</h5>
            <h6>Advertising:<br/>&nbsp;</br>
                <ul>
                    <li><a href="https://apps.db.ripe.net/search/lookup.html?source=ripe&key=AS-ESGOB-ANYCAST">AS-ESGOB-ANYCAST</a></li>
                    <li><a href="https://apps.db.ripe.net/search/lookup.html?source=ripe&key=193.47.147.0-193.47.147.255">193.47.147.0/24</a></li>
                    <li>2001:067c:1b43::/48</li>
                </ul>
            </h6>
            <p><a href="http://www.peeringdb.com/view.php?asn=60564">PeeringDB</a> <a href="http://bgp.he.net/AS60564"><img border=0 src="static/images/he.png"></a> <a href="http://bgp.he.net/AS60564">bgp.he.net</a></p>
        </div>
    </div>


{% endblock %}
