{% extends "layout.html" %}
{% block title %}Esgob Ltd - IRR - AS30746 AS60564{% endblock %}
{% block body %}
        <div class="page-header">
            <h2>Internet Routing Registry</h2>
        </div>

        <div><p>All of our objects are registered in the RIPE database.</p></div>
        <div class="page-header">
            <h3>AS30746</h3>
        </div>
        <div>x</div>

        <div class="page-header">
            <h3>AS60564</h3>
        </div>
        <div>x</div>

{% endblock %}