{% extends "layout.html" %}
{% block title %}Esgob Ltd - Peering - AS30746 AS60564{% endblock %}
{% block body %}
        <div class="page-header">
            <h2>Peering</h2>
        </div>

        <div><p>Thank you for considering peering with Esgob Ltd. We have an <b>open</b> peering policy.</p><p>We are present on the following internet exchanges:</p></div>

      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th> </th>
            <th>Location</th>
            <th>IXP</th>
            <th>ASN</th>
            <th>Announcing</th>
            <th>Speed</th>
            <th>IPv4</th>
            <th>IPv6</th>
            <th>State</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="static/images/flags/us.gif"/></td>
            <td>San Francisco</td>
            <td><a href="http://www.sfmix.org">SFMIX</a></td>
            <td>60564</td>
            <td>AS-ESGOB-ANYCAST</td>
            <td>1G</td>
            <td>206.197.187.16</td>
            <td>2001:504:30::ba06:564:1</td>
            <td><span class="label label-success">Live</span></td>
          </tr>
      </table>

        <p>All requests should be submitted via email to <a href="mailto:noc@esgob.com">noc@esgob.com</a>. Please include:<p>
        <p><ul>
            <li>Complete contact information (name, phone, email)</li>
            <li>ASN and IRR macro(s)</li>
            <li>List of suggested interconnect points</li>
            <li>Trace showing the path to local.esgob.com</li>
            <li>An IP Esgob can traceroute to for testing purposes</li>
        </ul></p>
	<p>&nbsp;</p>
	<p align="center"><img src="/static/images/partner_sfmix.png"></p> 
{% endblock %}
