{% extends "layout.html" %}
{% block title %}Register for free anycast secondary DNS{% endblock %}
{% block body %}

<div class="container">
        <div class="row">
            <!-- reg form -->
            <div id="regForm">
                <section>
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="page-header">
                            <h2>Please register <small>For free anycast DNS</small></h2>
                        </div>

                        <form id="defaultForm" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Name</label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" name="name" placeholder="Your name" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Account name</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="account" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Email address</label>
                                <div class="col-lg-5">
                                    <input type="text" class="form-control" name="email" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label" id="captchaOperation"></label>
                                <div class="col-lg-2">
                                    <input type="text" class="form-control" name="captcha" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-9 col-lg-offset-3">
                                    <button type="submit" class="btn btn-primary" name="register" value="Register">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
            <!-- reg form -->
            <div id="regSuccess" style="display: none">
                <div class="page-header">
                    <h2>Thanks!</h2>
                    <p>Your details are being processed, we will shortly send you login details.</p>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
$(document).ready(function() {
    // Generate a simple captcha
    function randomNumber(min, max) {
        return Math.floor(Math.random() * (max - min + 1) + min);
    };
    $('#captchaOperation').html([randomNumber(1, 75), '+', randomNumber(1, 75), '='].join(' '));
    $("input:text:visible:first").focus();
    $('#defaultForm').bootstrapValidator({
//        live: 'disabled',
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                group: '.col-lg-4',
                validators: {
                    notEmpty: {
                        message: 'The first name is required and cannot be empty'
                    },
                    stringLength: {
                        min: 3,
                        max: 64,
                        message: 'Must be between 3 and 64 characters'
                    }
                }
            },
            account: {
                message: 'The account name is not valid',
                validators: {
                    notEmpty: {
                        message: 'The account is required and cannot be empty'
                    },
                    stringLength: {
                        min: 3,
                        max: 16,
                        message: 'The account must be between 3 and 16 characters long'
                    },
                    stringCase: {
                        message: 'The account must be in lowercase',
                        'case': 'lower'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9]+$/,
                        message: 'The account can only be alpha numeric'
                    },
                    remote: {
                        type: 'POST',
                        url: '/register/ajax/validate',
                        message: 'The username is not available',
                        delay: 1000
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'Email is required and cannot be empty'
                    },
                    emailAddress: {
                        message: 'The input is not a valid email address'
                    },
                    remote: {
                        type: 'POST',
                        url: '/register/ajax/validate',
                        message: 'This email address is already registered',
                        delay: 1000
                    }
                }
            },
            captcha: {
                validators: {
                    callback: {
                        message: 'Wrong answer',
                        callback: function(value, validator) {
                            var items = $('#captchaOperation').html().split(' '), sum = parseInt(items[0]) + parseInt(items[2]);
                            return value == sum;
                        }
                    }
                }
            }
        }
    })
    .on('success.form.bv', function(e) {
            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');
            
            var name = $('#defaultForm').find('input[name="name"]').val();
            var account = $('#defaultForm').find('input[name="account"]').val();
            var email = $('#defaultForm').find('input[name="email"]').val();
            
            registration = { "name": name, "email": email, "account": account };
            $.ajax({
                type: "POST",
                url: "/register/ajax/process",
                data: JSON.stringify({ registration: registration }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data){registrationState(data["success"]);},
                failure: function(errMsg) {
                    alert(errMsg);
                }
            });
    });
});

function registrationState(result) {
    if (result) {
        $("#regForm").hide();
        $("#regSuccess").show();
    } else {
        bootbox.alert("Registration failed, please email noc@esgob.com", function() {
            
        });
    }

}
</script>

{% endblock %}
